/dist
/dist-newstyle
/.ghc.environment*
*.aux
*.hp
*.prof
*.ps
data/ucd/ArabicShaping.txt
data/ucd/BidiCharacterTest.txt
data/ucd/BidiTest.txt
data/ucd/CJKRadicals.txt
data/ucd/CompositionExclusions.txt
data/ucd/EmojiSources.txt
data/ucd/Index.txt
data/ucd/NamedSequences.txt
data/ucd/NamedSequencesProv.txt
data/ucd/NamesList.html
data/ucd/NamesList.txt
data/ucd/NormalizationCorrections.txt
data/ucd/NormalizationTest.txt
data/ucd/NushuSources.txt
data/ucd/PropertyAliases.txt
data/ucd/PropertyValueAliases.txt
data/ucd/ReadMe.txt
data/ucd/StandardizedVariants.txt
data/ucd/TangutSources.txt
data/ucd/UCD.zip
data/ucd/USourceData.txt
data/ucd/Unihan.zip
generated/
/data/ucdxml/ucdxml.readme.txt
/data/ucdxml/ucd.unihan.grouped.zip
/data/ucdxml/ucd.unihan.flat.zip
/data/ucdxml/ucd.nounihan.flat.zip
/data/ucdxml/ucd.all.grouped.zip
/data/ucdxml/ucd.all.flat.zip
*.html
/data/ucd/extracted/DerivedBinaryProperties.txt
/data/ucd/extracted/DerivedCombiningClass.txt
/data/ucd/extracted/DerivedDecompositionType.txt
/data/ucd/extracted/DerivedEastAsianWidth.txt
/data/ucd/extracted/DerivedGeneralCategory.txt
/data/ucd/extracted/DerivedLineBreak.txt
/data/ucd/extracted/DerivedName.txt
/data/ucd/auxiliary/GraphemeBreakTest.txt
/data/ucd/auxiliary/LineBreakTest.txt
/data/ucd/auxiliary/SentenceBreakTest.txt
/data/ucd/auxiliary/WordBreakTest.txt
