/dist
/dist-newstyle
/.ghc.environment*
*.aux
*.hp
*.prof
*.ps
data/latest/ReadMe.txt
data/latest/charts/
data/latest/ucd/ArabicShaping.txt
data/latest/ucd/BidiBrackets.txt
data/latest/ucd/BidiCharacterTest.txt
data/latest/ucd/BidiMirroring.txt
data/latest/ucd/BidiTest.txt
data/latest/ucd/CJKRadicals.txt
data/latest/ucd/CompositionExclusions.txt
data/latest/ucd/EmojiSources.txt
data/latest/ucd/EquivalentUnifiedIdeograph.txt
data/latest/ucd/Index.txt
data/latest/ucd/IndicPositionalCategory.txt
data/latest/ucd/IndicSyllabicCategory.txt
data/latest/ucd/NamedSequences.txt
data/latest/ucd/NamedSequencesProv.txt
data/latest/ucd/NamesList.html
data/latest/ucd/NamesList.txt
data/latest/ucd/NormalizationCorrections.txt
data/latest/ucd/NormalizationTest.txt
data/latest/ucd/NushuSources.txt
data/latest/ucd/PropertyAliases.txt
data/latest/ucd/PropertyValueAliases.txt
data/latest/ucd/ReadMe.txt
data/latest/ucd/StandardizedVariants.txt
data/latest/ucd/TangutSources.txt
data/latest/ucd/UCD.zip
data/latest/ucd/USourceData.txt
data/latest/ucd/Unihan.zip
generated/
/data/latest/ucdxml/ucdxml.readme.txt
/data/latest/ucdxml/ucd.unihan.grouped.zip
/data/latest/ucdxml/ucd.unihan.flat.zip
/data/latest/ucdxml/ucd.nounihan.flat.zip
/data/latest/ucdxml/ucd.all.grouped.zip
/data/latest/ucdxml/ucd.all.flat.zip
*.html
/data/latest/ucd/Unihan_DictionaryIndices.txt
/data/latest/ucd/Unihan_DictionaryLikeData.txt
/data/latest/ucd/Unihan_IRGSources.txt
/data/latest/ucd/Unihan_OtherMappings.txt
/data/latest/ucd/Unihan_RadicalStrokeCounts.txt
/data/latest/ucd/Unihan_Readings.txt
/data/latest/ucd/Unihan_Variants.txt
/data/latest/ucd/extracted/DerivedBidiClass.txt
/data/latest/ucd/extracted/DerivedBinaryProperties.txt
/data/latest/ucd/extracted/DerivedCombiningClass.txt
/data/latest/ucd/extracted/DerivedDecompositionType.txt
/data/latest/ucd/extracted/DerivedEastAsianWidth.txt
/data/latest/ucd/extracted/DerivedGeneralCategory.txt
/data/latest/ucd/extracted/DerivedLineBreak.txt
/data/latest/ucd/extracted/DerivedName.txt
/data/latest/ucd/extracted/DerivedNumericType.txt
/data/latest/ucd/extracted/DerivedNumericValues.txt
/data/latest/ucd/auxiliary/GraphemeBreakTest.txt
/data/latest/ucd/auxiliary/LineBreakTest.txt
/data/latest/ucd/auxiliary/SentenceBreakTest.txt
/data/latest/ucd/auxiliary/WordBreakTest.txt
